body{
	background: -webkit-linear-gradient(white,white,white,#BF883B);
	background-size: 1350px 650px;
	background-repeat: no-repeat;
}
.d1{
	background-color: black;
	margin-top: -20px;
	width: 1330px;
}
.p1{
	text-align: center;
	font-family: 'Modak', cursive;
	color: white;
	font-size: 40px;
}
.d2{
	width: 100%;
}
.d3{
	width: 70%;
	float: left;
}
.img{
	width: 200px;
    height: 150px;
}
.sp1{
	color: #ffcc00;
}
.p2{
	font-size: 20px;
	margin-left: 260px;
}
h2{
	margin-top: -140px;
	margin-left: 260px;
}
.d4{
	background-color: #ffcc00;
	margin-top: 580px;
}
.p3{
	text-align: center;
	font-size: 40px;
	font-family: 'Modak', cursive;
}
.i2{
	width: 400px;
	height: 300px;
	margin-left: 23px;
}
.i2:hover{
    transform: scale(1.3);
}
::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent, black);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
  box-shadow: 0 5px 50px 0 black inset,0 5px 50px 0 black,
    0 5px 50px 0 black inset,0 5px 50px 0 black;
}